<main>
  <h1>商品編集</h1>
    <div class="form">
    <%= form_with model: @item, url:admin_item_path(@item), local:true do |f| %>
    
    <div class="form_group">
      <%= f.label :image, "商品画像", class: 'label' %>
      <%= f.attachment_field :image %>
    </div>
    <div class="form_group">
      <%= f.label :name, "商品名", class: 'label' %>
      <%= f.text_field :name, class: 'form-box' %>
    </div>
    <div class="form_group">
      <%= f.label :introduction, "商品説明", class: 'label' %>
      <%= f.text_area :introduction, class: 'form-box introduction' %>
    </div>
    <div class="form_group">
      <%= f.label :genre_id, "ジャンル", class: 'label' %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: '選択してください'}, class: 'form-box' %>
    </div>
    <div class="form_group">
      <%= f.label :price, "税抜価格", class: 'label' %>
      <%= f.text_field :price, class: 'form-box' %>円
    </div>
    <div class="form_group">
      <p>販売ステータス</p>
      <%= f.radio_button :is_active, Item.is_actives.key(true)  %>
      <%= f.label :is_active, Item.is_actives_i18n[:onsale]%>
      <%= f.radio_button :is_active, Item.is_actives.key(false)  %>
      <%= f.label :is_active, Item.is_actives_i18n[:offsale]  %>
    </div>
    <div class="submit-button">
      <%= f.submit "変更を保存", class: 'button' %>
    </div>
    <% end %>
  </div>
</main>