<main>
  <h1>商品一覧</h1>
  <div class="item-list">
    <% @items.each do |item| %>
    <ul>
      <li>
        <dl>
          <dt>商品ID</dt>
          <dd><%= item.id %></dd>
        </dl>
      </li>
       <li>
        <dl>
          <dt>商品名</dt>
          <dd><%= link_to item.name, admin_item_path(item), class: 'link' %></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>税抜価格</dt>
          <dd><%= item.price %>円</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>ジャンル</dt>
          <dd><%= item.genre.name %></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>ステータス</dt>
          <dd><%= item.is_active %></dd>
        </dl>
      </li>
    </ul>
    <% end %>
  </div>
  <%= paginate @items %>
</main>