<main>
  <h1>商品一覧</h1>
  <div class="new-item-action">
    <%= link_to new_admin_item_path, class: 'new-item-button' do %>
    <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="item-list">
    <div class="item-list_name">
      <ul>
        <li>商品ID</li>
        <li>商品名</li>
        <li>税抜価格</li>
        <li>ジャンル</li>
        <li>ステータス</li>
      </ul>
    </div>
    <div class="item-list_content">
    <% @items.each do |item| %>
      <ul>
        <li><%= item.id %></li>
        <li><%= link_to item.name, admin_item_path(item), class: 'link' %></li>
        <li><%= item.price %>円</li>
        <li><%= item.genre.name %></li>
        <li><%= item.is_active_i18n %></li>
      </ul>
    <% end %>
    </div>
  </div>
  <%= paginate @items %>
</main>