<main>
  <h1>会員一覧</h1>
  <div class="customer-list">
    <div class="customer-list_name">
      <ul>
        <li>会員ID</li>
        <li>氏名</li>
        <li>メールアドレス</li>
        <li>ステータス</li>
      </ul>
    </div>
    <div class="customer-list_content">
    <% @customers.each do |customer| %>
      <ul>
        <li><%= customer.id %></li>
        <li><%= link_to customer.last_name, admin_customer_path(customer), class: 'link' %></li>
        <li><%= customer.email %></li>
        <li><%= customer.is_delete %></li>
      </ul>
    <% end %>
    </div>
  </div>
  <%= paginate @customers %>
</main>
