<main>
  <h1>注文履歴詳細</h1>
  <div class="order-history">
    <dl>
      <dt>購入者</dt>
      <dd><%= link_to @order.reload_customer.full_name, admin_customer_path(@order_customer) %></dd>
    </dl>
    <dl>
      <dt>注文日</dt>
      <dd><%= @order.created_at.strftime("%Y-%m-%d") %></dd>
    </dl>
    <dl>
      <dt>配送先</dt>
      <dd>〒<%= @order.postal_code %><%= @order.address %><br><%= @order.name %></dd>
    </dl>
    <dl>
      <dt>支払方法</dt>
      <dd><%= @order.payment_i18n %></dd>
    </dl>
    <dl>
      <dt>注文ステータス</dt>
      <dd>
        <%= form_with model: @order, url:admin_order_path, local:true do |f| %>
        <%= f.select :status, Order.statuses_i18n.invert %>
        <%= f.submit "更新", class: 'button' %>
        <% end %>
      </dd>
    </dl>
  </div>
  <div class="order-product">
    <div class="order-product_content">
      <ul>
        <li>商品名</li>
        <li>単価（税込）</li>
        <li>数量</li>
        <li>小計</li>
        <li>製作ステータス</li>
      </ul>
      <% @order_details.each do |order_detail| %>
      <ul>
        <li><%= order_detail.item.name %></li>
        <li><%= order_detail.price %></li>
        <li><%= order_detail.amount %></li>
        <li><%= order_detail.subtotal %></li>
        <li>
          <%= form_with model: order_detail, url:admin_order_detail_path, local:true do |f| %>
          <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
          <%= f.submit "更新", class: 'button' %>
          <% end %>
        </li>
      </ul>
      <% end %>
    </div>
    <div class="order-product_price">
      <dl>
        <dt>商品合計</dt>
        <dd><%= @total %></dd>
      </dl>
      <dl>
        <dt>送料</dt>
        <dd><%= @order.postage %></dd>
      </dl>
      <dl>
        <dt>請求金額合計</dt>
        <dd><%= @order.price %></dd>
      </dl>
    </div>
  </div>
</main>
