<main>
  <% if @genre.errors.any? %>
    <h3><%= @genre.errors.count %>件のエラーが発生しました</h3>
    <% @genre.errors.full_messages.each do |message| %>
      <p class="validate"><%= message %></p>
    <% end %>
  <% end %>
  <h1>ジャンル一覧・追加</h1>
  <div class="genre-form">
    <%= form_with model: @genre, url:admin_genres_path, local:true do |f| %>
    <p>ジャンル名</p>
    <%= f.text_field :name, placeholder: "ジャンル名" %>
    <%= f.submit "新規登録", class: 'button' %>
    <% end %>
  </div>
  <div class="genre-list">
    <h3>ジャンル</h3>
    <% @genres.each do |genre| %>
    <ul>
      <li>
        <p><%= genre.name %></p>
        <%= link_to "編集する", edit_admin_genre_path(genre) %>
      </li>
    </ul>
    <% end %>
  </div>
</main>
