<main>
  <h1>注文履歴一覧</h1>
  <div class="order-customer-list">
    <ul>
      <li>購入日時</li>
      <li>購入者</li>
      <li>購入個数</li>
      <li>注文ステータス</li>
    </ul>
    <% @orders.each do |order| %>
    <ul>
      <li><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M:%S"), admin_order_path(order) %></li>
      <li><%= order.name %></li>
      <li><%= order.order_details.sum(:amount)%></li>
      <li><%= order.status_i18n %></li>
    </ul>
    <% end %>
    <%= paginate @orders %>
  </div>
</main>
