<main>
  <% if @address.errors.any? %>
    <h3><%= @address.errors.count %>件のエラーが発生しました</h3>
    <% @address.errors.full_messages.each do |message| %>
      <p class="validate"><%= message %></p>
    <% end %>
  <% end %>
  <h1>配送先編集</h1>
  <div class="address-edit-form">
    <%= form_with model: @address, url:address_path(@address), local:true do |f| %>
    <div class="form_group">
      <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
      <%= f.text_field :postal_code, class: 'form-box' %>
    </div>
    <div class="form_group">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, class: 'form-box address' %>
    </div>
    <div class="form_group">
      <%= f.label :name, "宛名" %>
      <%= f.text_field :name, class: 'form-box' %>
      <div class="edit-button">
       <%= f.submit "変更内容を保存", class: 'button' %>
      </div>
    </div>
    <% end %>
  </div>
</main>
