<main>
  <h1>配送先登録/一覧</h1>
  <div class="form">
    <%= form_with model: @addresse, local:true do |f| %>
    <div class="form_group">
      <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
      <%= f.text_field :postal_code %>
    </div>
    <div class="form_group">
      <%= f.label :addresses, "住所" %>
      <%= f.text_field :addresses %>
    </div>
    <div class="form_group">
      <%= f.label :name, "宛名" %>
      <%= f.text_field :name %>
    </div>
    <div class="submit-button">
      <%= f.submit "新規登録", class: 'button' %>
    </div>
    <% end %>
  </div>
  <div class="address-list">
    <ul class="address-list_head">
      <li>郵便番号</li>
      <li>住所</li>
      <li>宛名</li>
      <li></li>
    </ul>
    <% @addresses.each do |address| %>
    <ul>
      <li><%= address.postal_code %></li>
      <li><%= address.addresses %></li>
      <li><%= address.name %></li>
    </ul>
    <% end %>
  </div>
</main>
