<main>
<h1>ショッピングカート</h1>
<div class="cart-items">
  <% if @cart_items.any? %>
  <div class="delete-all">
    <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete %>
  </div>
  <ul class="cart-items_head">
    <li>商品名</li>
    <li>単価（税込）</li>
    <li>数量</li>
    <li>小計</li>
    <li></li>
  </ul>
  <% @cart_items.each do |cart_item| %>
  <ul class="cart-items_content">
    <li><%= attachment_image_tag cart_item.item, :image %><%= cart_item.item.name %></li>
    <li><%= cart_item.item.tax_price.to_s(:delimited) %></li>
    <li><%= form_with model: cart_item, local:true do |f| %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "変更", class: 'amount-edit' %>
        <% end %>
    </li>
    <li><%= cart_item.subtotal %></li>
    <li><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: 'delete' %></li>
  </ul>
  <% end %>
  <div class="after">
    <div class="items-action">
      <%= link_to "買い物を続ける", root_path %>
    </div>
    <div class="total-price">
      <p>合計金額</p>
      <p><%= @total.to_s(:delimited) %></p>
    </div>
  </div>
  <div class="cart-info">
    <%= link_to "情報入力に進む", new_order_path %>
  </div>
  <% else %>
  <div class="no-item">
    <p>現在カートに商品がありません</p>
    <%= link_to "買い物を続ける", items_path %>
  </div>
  <% end %>
</div>
</main>
