<h1>ショッピングカート</h1>
<div class="cart-items">
  <ul>
    <li>商品名</li>
    <li>単価（税込）</li>
    <li>数量</li>
    <li>小計</li>
    <li></li>
  </ul>
  <ul>
    <% @cart_items.each do |cart_item| %>
    <li><%= attachment_image_tag cart_item.item, :image %><%= cart_item.item.name %></li>
    <li><%= cart_item.amount %></li>
    <li><%= form_with model: cart_item, local:true do |f| %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "変更" %>
        <% end %>
    </li>
    <li><%= cart_item.subtotal %></li>
    <li><%= link_to "削除する", cart_items_path(cart_item), method: :delete %></li>
    <% end %>
  </ul>
</div>
