<main>
  <h1>注文履歴一覧</h1>
  <div class="order-list">
    <ul>
      <li>注文日</li>
      <li>配送先</li>
      <li>注文商品</li>
      <li>支払金額</li>
      <li>ステータス</li>
      <li>注文詳細</li>
    </ul>
    <% @orders.each do |order| %>
    <ul>
      <li><%= order.created_at %></li>
      <li><%= order.address %></li>
      <li><%= order.name %></li>
      <li><%= order.price %></li>
      <li><%= order.status %></li>
      <li><%= link_to "表示する", order_path(@order.id) %></li>
    </ul>
    <% end %>
  </div>
</main>
