<main>
  <h1>注文履歴詳細</h1>
  <div class="order-content">
    <div class="order-content_info">
      <h2>注文情報</h2>
      <dl>
        <dt>注文日</dt>
        <dd><%= @order.created_at.strftime('%Y/%m/%d')  %></dd>
      </dl>
      <dl>
        <dt>配送先</dt>
        <dd><p>〒<%= @order.postal_code %></p><p><%= @order.middle_address %></p></dd>
      </dl>
      <dl>
        <dt>支払い方法</dt>
        <dd><%= @order.payment_i18n %></dd>
      </dl>
      <dl>
        <dt>ステータス</dt>
        <dd><%= @order.status_i18n %></dd>
      </dl>
    </div>
    <div class="order-content_price">
      <h2>請求額情報</h2>
      <dl>
        <dt>商品合計</dt>
        <dd><%= @total += @subtotal %></dd>
      </dl>
      <dl>
        <dt>配送料</dt>
        <dd><%= @order.postage %></dd>
      </dl>
      <dl>
        <dt>ご請求額</dt>
        <dd><%= @order.price %></dd>
      </dl>
    </div>
  </div>
    <div class="order-content_inner">
      <h2>注文内容</h2>
      <ul>
        <li>商品</li>
        <li>単価</li>
        <li>個数</li>
        <li>小計</li>
      </ul>
      <% @order_details.each do |order_detail| %>
      <ul>
        <li><%= order_detail.item.name %></li>
        <li><%= order_detail.price %></li>
        <li><%= order_detail.amount %></li>
        <li><%= @subtotal %></li>
      </ul>
      <% end %>
    </div>
</main>
